@font-face {
    font-family: 'text';
    src: url(../font/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: 'Italianno';
    src: url(../font/Italianno-Regular.ttf);
}
*{
    font-family: 'text';
}
body,html{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(253,247,255,1) 0%, rgba(227,229,254,1) 100%);
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo_blokc{
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.logo_blokc img{
    width: 134px;
    height: fit-content;
}
.dietary{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../img/photo-1.png);
    background-position-x: 15%;
    background-size: contain;
    background-repeat: no-repeat;
}
.dietary_blokc{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dietary_top_cont{
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.dietary_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #BABABA1C;
    border: 1px solid #BABABA1A;
    border-top-left-radius: 50px;
    backdrop-filter: blur(60px);
    width: 405px;
    height: 95px;
    padding-left: 20px;
    margin-top: 120px;
    margin-left: 140px;
}
.dietary_cont img{
    width: 50px;
    height: fit-content;
}
.dietary_cont h5{
    font-size: 15px;
    font-weight: 300;
    color: #000000;
    margin-left: 10px;
}
.dietary_text{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.dietary_text h1{
    font-size: 64px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 0;
}
.dietary_text span{
    color: #3DC000;
    text-transform: uppercase;
}
.dietary_text p{
    font-size: 24px;
    font-weight: 300;
    color: #000000;
    margin-top: 0;
}
.dietary_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}
.dietary_1 img{
    width: 95px;
    height: fit-content;
}
.dietary_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.dietary_2 a{
    width: 440px;
    height: 70px;
    background: #202756;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 50px;
}
.mob_menu{
    display: none;
    cursor: pointer;
}
.naturally{
    display: flex;
    justify-content: center;
    width: 100%;
}
.naturally_blokc{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.naturally_cont{
    width: 35%;
    display: flex;
    flex-direction: column;
}
.naturally_cont hr{
    border-width: 0.5px solid #000000;
    width: 314px;
    padding-top: 0;
    margin-bottom: 0;
}
.naturally_text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.naturally_text img{
    width: 40px;
    height: fit-content;
}
.naturally_text h4{
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.naturally_cont .big{
    width: 400px;
    border-width: 0.5px solid #000000;
}
.enter{
    width: 100%;
    display: flex;
    justify-content: center;
}
.enter_blokc{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.enter_blokc img{
    width: 35%;
    height: fit-content;
}
.enter_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D8DDDC70;
    border: 1px solid #D8DDDC0D;
    backdrop-filter: blur(20px);
    border-top-left-radius: 150px;
    width: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 6%;
    padding-right: 6%;
    margin-right: -130px;
    margin-top: 150px;
}
.enter_cont p{
    font-size: 24px;
    font-weight: 300;
    color: #000000;
}
.doctor{
    width: 100%;
    display: flex;
    justify-content: center;
}
.doctor_blokc{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.doctor_blokc img{
    width: 35%;
    height: fit-content;
}
.doctor_cont{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: fit-content;
}
.doctor_cont h1{
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 0;
}
.doctor_cont hr{
    border: 1px solid #000000;
    width: 100%;
}
.doctor_cont p{
    font-size: 24px;
    font-weight: 300;
    color: #000000;
    margin-top: 80px;
}
.doctor_cont h5{
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    font-style: italic;
    margin-top: 0;
}
.doctor_cont br{
    display: none;
}
.stores{
    width: 100%;
    display: flex;
    justify-content: center;
}
.stores_blokc{
    margin-top: 150px;
    width: 90%;
    display: flex;
    justify-content: center;
}
.stores_blokc img{
    width: 38%;
    height: fit-content;
}
.stores_cont{
    display: flex;
    flex-direction: column;
}
.stores_cont h3{
    font-size: 36px;
    font-weight: 700;
    color: #000000;
}
.stores_cont span{
    font-weight: 400;
}
.center{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.center a{
    width: 440px;
    height: 70px;
    background: #202756;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 50px;
}
.stores_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #D8DDDC70;
    border: 1px solid #4848481A;
    backdrop-filter: blur(20px);
    border-bottom-right-radius: 150px;
    width: 425px;
    height: 116px;
    margin-left: -200px;
}
.stores_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}
.stores_1 h4{
    font-size: 48px;
    font-weight: 700;
    color: #000000;
}
.stores_2 img{
    width: 125px;
    height: fit-content;
}
.stores_2 h4{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0;
    margin-top: 10px;
}
.stores_2 h5{
    font-size: 16px;
    font-weight: 500;
    color: #1D5C00;
    margin-top: 0;
}
.image{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.image img{
    width: 30px;
    height: fit-content;
}
.before{
    width: 100%;
    display: flex;
    justify-content: center;
}
.before_blokc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-top: 100px;
}
.before_blokc img{
    width: 100px;
    height: fit-content;
}
.before_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26%;
    height: 700px;
    background: #FFFFFF;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}
.before_cont img{
    width: 100%;
    height: fit-content;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.bef{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bef h4{
    width: 140px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FED0D9;
    border-radius: 20px;
    border: 1px solid #202756;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -50px;
}
.before_cont h5{
    font-size: 20px;
    font-weight: 800;
    color: #000000;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.before_cont p{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    height: 220px;
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
}
.before_cont h3{
    font-family: 'Italianno';
    text-align: right;
    font-size: 32px;
    font-weight: 400;
    color: #FD0072;
    width: 90%;
    margin-top: 0;
}
.knopka_1{
    margin-right: -70px;
    position: relative;
    z-index: 2;
}
.knopka_2{
    margin-left: -70px;
    position: relative;
    z-index: 2;
}
.easy{
    width: 100%;
    display: flex;
    justify-content: center;
}
.easy_blokc{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 100px;
}
.easy_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-left: 30px;
    margin-right: 30px;
}
.easy_cont img{
    width: 60px;
    height: fit-content;
}
.easy_cont h5{
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 0;
}
.easy_cont p{
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    text-align: center;
}
.dietary{
    width: 100%;
    display: flex;
    justify-content: center;
}

.dietary_blokc p{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}
.dietary_blokc a{
    width: 440px;
    height: 70px;
    background: #202756;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 30px;
}
.dietary_blokc h5{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    width: 70%;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.end{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.end_cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.end_cont img{
    width: 134px;
    height: fit-content;
}
.end_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}
.end_1 p{
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}
.end_1 h5{
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: underline;
    margin-left: 10px;
}
.end hr{
    border: 1px solid #000000;
    width: 100%;
}
.end_text{
    display: flex;
}
.end_text a{
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}
.end h4{
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 40px;
}
.hed{
    display: flex;
}
.logo_blokc .hed{
    width: 60px;
    height: fit-content;
}
.priv{
    width: 100%;
    display: flex;
    justify-content: center;
}
.priv_blokc{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.priv_blokc h1{
    font-size: 64px;
    font-weight: 700;
    color: #000000;
}
.priv_blokc p{
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 200px;
}
.knopka_1,.knopka_2{
    cursor: pointer;
}
.mob_vis{
    display: none;
}
.mob_img{
    display: none;
}

.menu_abs{
    width: 285px;
    height: 236px;
    border: 2px solid #000000;
    border-radius: 40px;
    background-color: #FED0D9;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    right: -10px;
    top: 95px;
}
.menu_abs a{
    text-decoration: none;
    width: 190px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #000000;
    font-family: 'text';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 3px;
    margin-bottom: 3px;
}
.dietary_blokc_bottom p{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}
.dietary_blokc_bottom a{
    width: 440px;
    height: 70px;
    background: #202756;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 30px;
}
.dietary_blokc_bottom h5{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    width: 70%;
}
.dietary_blokc_bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.none_bg{
    background: none;
}
.house_cont{
    width: 100%;
    display: flex;
    justify-content: center;
}
.house_block{
    width: 95%;
    display: flex;
    flex-direction: column;
}
.house{
    width: 100%;
    display: flex;
    align-items: center;
}
.house img{
    height: 20px;
    width: max-content;
}
.house p{
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-family: 'text';
    font-weight: 500;
    margin-top: 0;
}
.house_block hr{
    width: 100%;
    height: 1.5px;
    border: none;
    background-color: #000;
    padding: 0;
    margin: 0;
}
.shop_cont{
    width: 100%;
    display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.shop_block{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category_block{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.category_block p{
    cursor: pointer;
    height: 47px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'text';
    line-height: 29px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 30px;
    
}
.category_block .act_category{

    height: 47px;
    background: #DF6DA0;
    border: 1px solid #000000;
    font-size: 24px;
    font-weight: 400;
    font-family: 'text';
    line-height: 29px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 30px;
}
.main_block{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top:60px;
}
.left_main{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_slider{
    width: 100%;
    display: flex;
}
.main_slide{
    width: 450px;
    height: 423px;
    border: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.main_slide img{
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}
.small_slider{
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}
.small_slide{
    display: flex;
    align-items: center;
}
.small_prev,.small_next{
    cursor: pointer;
    width: 11px;
    height: max-content;
}
.small_slide_img{
    width: 95px;
    height: max-content;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 20px;
}
.faq_block{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq_head{
    height: 60px;
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.faq_head h1{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    font-family: 'text';
    color: #000;
    margin: 0;
    padding: 0;

}
.faq_head img{
    height: 50px;
    width: max-content;
}
.faq_block p{
    display: none;
}
.faq_block p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'text';
    width: 100%;
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
}
.faq_block p span{
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
}
.faq_block p b{
    font-weight: 600;
    font-family: 'text';
}
.right_main{
    width: 55%;
    display: flex;
    flex-direction: column;

}
.right_main h1{
    font-size: 36px;
    font-family: 'text';
    font-weight: 500;
    line-height: 43px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
.right_main .rewiev{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.right_main img{
    height: 75px;
    width: max-content;
}
.rewiev img{
    height: 16px;
    width: max-content;
    margin-right: 10px;
} 
.rewiev p{
    color: #4F66FE;
    font-size: 16px;
    font-family: 'text';
    font-weight: 400;
    line-height: 19px;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
.right_main h2{
    font-size: 20px;
    font-family: 'text';
    font-weight: 400;
    line-height: 24px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 40px;
}
.right_main h3{
    font-size: 20px;
    font-family: 'text';
    font-style: italic;
    font-weight: 500;
    line-height: 24px;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    color: #2F9500;
    margin-bottom: 5px;
}
.right_main h4{
    font-size: 30px;
    font-family: 'text';
    font-weight: 700;
    line-height: 36px;
    padding: 0;
    margin: 0;
}
.variable_block{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.variable{
    border: 1px solid #000000;
    width: 160px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.variable h1{
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    font-family: 'text';
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
}
.variable p{
    font-size: 13px;
    font-weight: 300;
    line-height: 15px;
    font-family: 'text';
    font-style: italic;
    margin: 0;
    padding: 0;
}
.open{
    background-color: #FED0D9;
    border: 1px solid #000000;
    width: 520px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 321px;
}
.left_open{
    width: 143px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.left_open img{
    width: 100%;
    height: max-content;
    margin-bottom: 20px;
}
.left_open h1{
    color: #008F35;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'text';
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.left_open p{
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    font-family: 'text';
    margin: 0;
    padding: 0;
}
.right_open{
    height: 100%;
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right_open h1{
    color: #000;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    font-family: 'text';
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}
.right_open p{
    color: #000;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-family: 'text';
    margin: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}
.open_cont{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}
.right_open h2{
    color: #000;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-family: 'text';
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 60px;

}
.right_open h2 b{
    font-weight: 700;
    font-style: italic;
}
.right_open h3{
    color: #008F35;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'text';
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
    font-style: normal;
}
.right_open h4{
    color: #BE1414;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    font-family: 'text';
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
    text-decoration: line-through;
    margin-right: 30px;
}
.right_open .hh2{
    margin-bottom: 30px;
}
.right_main .sale{
    height: 25px;
    width: 60px;
    position: absolute;
    z-index: 2;
    right: -10px;
    top: -10px;
}
.bottom_open{
    display: none;
}
.open_top{
    width: 100%;
    display: flex;
    justify-content: center;
}
.right_main .a{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.right_main .a img{
    height: 27px;
    width: max-content;
}
.right_main .a a{
    width: 440px;
    height: 70px;
    border-radius: 50px;
    background: #202756;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    font-family: 'text';
    line-height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.right_main .a p{
    font-size: 16px;
    line-height: 19px;
    font-style: italic;
    font-family: 'text';
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 10px;
}
.right_main .faq_block{
    margin-bottom: 20px;
}
.right_main .faq_block .faq_head{
    width: 80%;
}
.right_main .faq_block p{
    width: 80%;
}


.right_main .faq_head h1{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    font-family: 'text';
    color: #000;
    margin: 0;
    padding: 0;

}
.right_main .faq_head img{
    height: 50px;
    width: max-content;
}
.faq_mob{
    display: none;
}
.plus_cont{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 250px;
}
.plus_block{
    width: 529px;
    height: 278px;
    background-color: #FED0D9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
}
.plus_block h1{
    font-size: 20px;
    line-height: 24px;
    font-family: 'text';
    font-weight: 700;
    padding: 0;
    margin: 0;
    margin-left: 30px;
}
.plus_block img{
    position: absolute;
    z-index: 2;
    width: 241px;
    height: max-content;
    right: -80px;
    bottom: -100px;
}
.big_left{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.big_left p{
    font-size: 20px;
    line-height: 24px;
    font-family: 'text';
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}
.big_left h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    font-family: 'text';
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.big_left ul li{
    font-size: 20px;
    line-height: 24px;
    font-family: 'text';
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}
.big_left ul{
    padding-left: 20px;
}
.big_main{
    width: 90%;
}
.big_right{
    width: 362px;
    height: 352px;
    border: 1px solid #000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.top_big_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.top_big_right img{
    width: 99px;
    height: max-content;
}
.top_big_right_text{
    display: flex;
    flex-direction: column;
}
.top_big_right_text h1{
    font-size: 20px;
    line-height: 24px;
    font-family: 'text';
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.top_big_right_review{
    display: flex;
    align-items: center;
}
.top_big_right_review img{
    height: 16px;
    width: max-content;
    margin-right: 10px;
}
.top_big_right_review p{
    color: #4F66FE;
    font-size: 16px;
    line-height: 19px;
    font-family: 'text';
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
.big_right h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-style: italic;
    font-family: 'text';
    color: #2F9500;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.big_right h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    font-family: 'text';
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}
.bottom_big_right{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom_big_right a{
    width: 340px;
    height: 50px;
    border-radius: 50px;
    background-color: #202756;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-family: 'text';
    text-decoration: none;
    margin-bottom: 10px;
}
.bottom_big_right img{
    height: 22px;
    width: max-content;
}
.big_main{
    margin-bottom: 100px;
   }
.big_left img{
    width: 100%;
    height: max-content;
}
.center_italic{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.center_italic p{
    width: 757px;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    font-family: 'text';
    font-style: italic;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: -100px;
}
.plus_func{
    width: 90%;

}
.plus_func p{
    width: 60%;
}
.mob{
    display: none;
}
.big_left .faq_block{
    align-items: start;
}
.big_left .faq_block p{
    width: 100%;
    border-bottom: none;
}
.big_left .faq_head{
    height: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 900px){
    .plus_cont{
        width: 90%;
        margin-left: 5%;
        justify-content: left;
    }
    .plus_block{
        width: 309px;
        height: 186px;

    }
    .plus_block h1{
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
    }
    .plus_block img{
        width: 158px;
        height: max-content;
        right: -70px;
        bottom: -130px;
    }
    .faq_pc{
    display: none;
    }
    .dietary_blokc_bottom p{
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
    }
    .dietary_blokc_bottom a{
        height: 60px;
        width: 100%;
    }
    .priv_blokc h1{
        font-size: 48px;
        line-height: 58px;
        font-weight: 700;
    }
    .priv_blokc p{
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;

    }
    .category_block p{
        font-size: 16px;
        line-height: 19px;
        padding-left: 10px;
        padding-right: 10px;
        height: 40px;
        margin-right: 10px;
    }
    .category_block .act_category{
        font-size: 16px;
        line-height: 19px;
        padding-left: 10px;
        padding-right: 10px;
        height: 40px;
        margin-right: 0px;
    }
    .house img{
        width: 15px;
        height: 15px;
    }
    .house p{
        font-size: 15px;
        line-height: 18px;
    }
    .dietary{
        background: none;
    }
    .mob_img{
        display: block;
    }
    .pc_img{
        display: none;
    }
    .mob_vis{
        display: flex;
    }
    .dietary_blokc_bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-top: 50px;
    }
    .mob_menu{
        display: flex;
        cursor: pointer;
    }
    .logo_blokc .mob_menu{
        width: 60px;
        height: fit-content;
    }
    .dietary_top_cont{
        display: none;
    }
    .dietary_text{
        width: 100%;
    }
    .dietary_text h1{
        font-size: 48px;
    }
    .dietary_text p{
        font-size: 20px;
    }
    .dietary_1{
        justify-content: center;
    }
    .dietary_blokc{
        margin-top: 30px;
    }
    .dietary_1 img{
        width: 75px;
    }
    .dietary_2 a{
        width: 380px;
        height: 60px;
    }
    .dietary_1{
        margin-top: 0;
    }
    .dietary_2{
        margin-top: 40px;
    }
    .naturally_blokc{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .naturally_cont{
        width: 100%;
        margin-bottom: 30px;
    }
    .naturally_text h4{
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .naturally_cont .big{
        width: 300px;
    }
    .enter_blokc{
        flex-direction: column-reverse;
        align-items: end;
        margin-top: 30px;
    }
    .enter_cont{
        width: 85%;
        margin-right: 1.5%;
        margin-top: 0;
        padding-top: 12%;
        padding-bottom: 12%;
        position: relative;
        z-index: 1;
        backdrop-filter: none;
    }
    .enter_cont p{
        font-size: 20px;
    }
    .doctor_blokc{
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .doctor_cont h1{
        font-size: 40px;
        margin-top: 60px;
    }
    .doctor_cont{
        width: 90%;
    }
    .doctor_cont p{
        font-size: 20px;
        margin-top: 30px;
    }
    .doctor_cont h5{
        font-size: 20px;
    }
    .doctor_blokc img{
        width: 70%;
    }
    .enter_blokc img{
        width: 50%;
        margin-bottom: -100px;
        position: relative;
        z-index: 2;
    }
    .none{
        display: none;
    }
    .before_cont{
        width: 90%;
    }
    .before_blokc .knopka_2{
        width: 50px;
    }
    .before_blokc .knopka_1{
        width: 50px;
    }
    .before_cont h5{
        margin-top: 25px;
    }
    .easy_blokc{
        flex-direction: column;
        align-items: center;
    }
    .easy_cont{
        width: 90%;
    }
    .dietary_blokc p{
        font-size: 20px;
    }
    .dietary_blokc h5{
        font-size: 15px;
        width: 100%;
    }
    .dietary_blokc{
        width: 90%;
    }
    .dietary_blokc a{
        width: 382px;
        height: 60px;
    }
    .end_cont{
        flex-direction: column;
        align-items: center;
    }
    .end_1 p{
        font-size: 16px;
    }
    .end_1 h5{
        font-size: 16px;
    }
    .end_1{
        margin-left: 0;
    }
    .end_cont img{
        width: 118px;
    }
    .end_text a{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 16px;
    }
    .end h4{
        margin-top: 30px;
    }
    .stores_blokc img{
        width: max-content;
        height: 11px;
    }
    .stores_blokc .mob_img{
        width: 70%;
        height: max-content;
        margin-bottom: -210px;
        margin-left: 5%;
    }
    .stores_1{
        width: 90%;
        margin-left: 5%;
        height: 104px;
    }
    .stores_cont h3{
        font-size: 24px;
        font-weight: 700;
    }
   
    .stores_2 h5{
        font-size: 13px;
    }
    .stores_1 h4{
        font-size: 36px;
    }
    .stores_2 h4{
        font-size: 24px;
    }
    .stores_blokc h3.mob_img{
        margin-bottom: 0px;
        margin-top: 100px;
        width: 100%;
    }
    .center a{
        width: 90%;
        height: 60px;
        margin-bottom: 0px;
    }
    .small_slider{
        display: none;
    }
    .main_block{
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .left_main{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .main_slider{
        justify-content: center;
        margin-bottom: 30px;
    }
    .main_slide{
        width: 347px;
        height: 326px;
    }
    .right_main{
        width: 100%;
        align-items: center;
    }
    .right_main h1{
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        font-family: 'text';
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        width: 100%;
    }
    .rewiev img{
        height: 16px;
        width: max-content;
    }
    .rewiev{
        width: 100%;
    }
    .rewiev p{
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
    }
    .right_main h2{
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .right_main h3{
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }
    .right_main h4{
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        width: 100%;
        text-align: center;
    }
    .variable{
        width: 140px;
    }

    .variable p{
        font-size: 11px;
    }
    .right_main .sale{
        width: 50px;
        height: 20px;
    }
    .open{
        width: 347px;
        height: 325px;
        border-radius: 20px;
    }
  
    .left_open{
        width: 109px;
    }
    .right_open{
        width: 231px;
    }
    .right_main h1{
        text-align: center;
        font-size: 24px;
        font-weight: 800;
        line-height: 29px;
    }
    .right_open p{
        font-size: 15px;
        line-height: 18px;
        font-weight: 300;
    }
    .right_open h2,.right_open h3,.left_open h1,.left_open p,.right_main h4{
        display: none;
    }
    .bottom_open{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .bottom_open h2{
        font-size: 15px;
        line-height: 18px;
        font-weight: 300;
        margin: 0;
        padding: 0;
        font-family: 'text';
        text-align: left;
        width: 90%;
    }
    .bottom_open h2 b{
        font-size: 15px;
        line-height: 18px;
        font-weight: 700;
        margin: 0;
        padding: 0;
        font-family: 'text';
    }
    .open{
      flex-direction: column;
    }
    .bottom_bottom_open{
        height: 57px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .left_bottom{
        width: 118px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .left_bottom h1{
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 0;
        color: #008F35;
    }
    .left_bottom p{
        font-size: 15px;
        line-height: 18px;
        font-weight: 300;
        margin-top: 0;margin-bottom: 0;
    }
    .right_bottom{
        width: 145px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .right_bottom h3{
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
        font-style: normal;
        color: #008F35;
    }
    .right_bottom h4{
        display: block;
        font-size: 15px;
        line-height: 18px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
        font-style: normal;
        color: #BE1414;
        text-decoration: line-through;
    }
    .variable h1{
        font-size: 15px;
        line-height: 18px;
        font-weight: 300;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }
   .faq_mob{
    display: flex;
   }
   .right_main .a a{
    width: 380px;
    height: 60px;
   }
   .right_main .faq_block .faq_head{
    width: 100%;
   }
   .right_main .faq_block .faq_head h1{
    width: max-content;
   }
   .right_main .faq_block p{
    width: 100%;
   }
   .dietary_blokc_bottom h5{
    width: 100%;
   }
   .big_left{
    width: 100%;
   }
   .big_left p{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
   }
   .big_left p b{
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
   }
   .big_left h1{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0px;
   }
   .big_left ul li{
    font-size: 16px;
    line-height: 19px;
   }
   .big_right{
    display: none;
   }
   .plus_func{
    width: 90%;
   }
   .plus_func p{
    width: 100%;
}
.center_italic p{
    font-size: 16px;
    line-height: 19px;
    width: 90%;
}
.pc{
    display: none;
}
.mob{
    display: block;
}
.big_left .faq_head h1{
    text-align: left;
    font-size: 20px;
    line-height: 24px;
}
.big_left .faq_head h1 br{
    display: none;
}
}